extends layout

block content
    div#wrapper
        include menu.jade
        div#page-content-wrappe
            h1 Instagram
        div.content-header
            h1#home
                a.btn.btn-default.px-2(href="/instagram/auth") Authorise
                a.btn.btn-info.px-2(href="/instagram/get/media") Sync
        div.page-content.inset
            div.row
                if (!instagram)
                    p There is no account associated
                else
                    div.jumbotron
                        div.col-md-3
                            img(src=instagram.user.profile_picture)
                        div.col-md-3
                            h2 #{instagram.user.full_name}
                            p @#{instagram.user.username}
