<!-- Sidebar -->
div#sidebar-wrapper
    nav#spy
        ul.sidebar-nav.nav
            li.sidebar-brand(class=path=='/media'?'active':undefined)
                a(href="/instagram/media") Media
            li.sidebar-brand(class=path=='/'?'active':undefined)
                a(href="/instagram") Instagram